@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat
@using Bakery.Models

<h2>Add a flavor to this @Html.DisplayFor(model => model.Type)</h2>

@if (@ViewBag.FlavorId.Count == 0)
{
  <p>You must add at least one flavor to the system first.</p>
  <p>@Html.ActionLink("Add Flavor", "Create", "Flavors")</p>
}
else
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select a flavor: ")
    @Html.DropDownList("FlavorId")
    <br>
    <input type="submit" value="Save" />
  }
}
<br>
<p>@Html.ActionLink($"Return to Details for this {Model.Type}", "Details", new { id = Model.TreatId} )</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>