@{
  Layout = "_Layout";
}

@using Bakery.Models
@model Bakery.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>

@if(@Model.JoinEntity.Count == 0)
{
  <p>This flavor does not have any associated treats yet</p>
}
else
{
  <h4>Associated Treats:</h4>
  <ul>
  @foreach(FlavorTreat join in Model.JoinEntity)
  {
    <li>@join.Treat.Type</li>
    @using (Html.BeginForm("DeleteJoin", "Flavors"))
    {
      @Html.Hidden("joinId", @join.FlavorTreatId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
<p>@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorId })</p>
<br>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>