@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h2>Edit Flavor</h2>

<h4>Edit this flavor: @Html.DisplayFor(model => model.Type)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.Type)
    @Html.DropDownList("Type")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink($"Return to Details for the flavor {Model.Type}", "Details", new { id = Model.FlavorId} )</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>